head
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

.container
    .jumbotron
        center
            h1 Sup Jeff
.container
    .row
        .col-md-6
            center
                h4 I like <a href="http://jade-lang.com/">Jade</a> templates cuz they let me develop shit really fast like this little bit of text
                
        .col-md-6
            center
                h4 Some other shit in this section over here.  If you havent noticed I'm using <a href="http://getbootstrap.com/getting-started/">Bootstrap</a> - this is like a responsive web framework that you are gonna love.

